[webservers]web-1 ansible_host=93.77.178.23 fqdn=fhm832f7mf9j6argkk6c.auto.internalweb-2 ansible_host=62.84.112.120 fqdn=fhmhil4ovvnr472mhr80.auto.internal
[databases]main ansible_host=89.169.149.66 fqdn=fhmoh8c6pt9uo3pavl47.auto.internalreplica ansible_host=84.252.140.148 fqdn=epdb3crc9t4fafeqcql1.auto.internal
[storage]
storage ansible_host=93.77.177.219 fqdn=fhmg2o4v7g10k8ea6luv.auto.internal
